:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light only;
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /*background-color: #1a1a1a;*/
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
/*  button {
    background-color: #f9f9f9;
  }*/
}


select, label {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    /*color: #213547;*/ /* Adjust based on light or dark theme */
    padding: 5px; /* Adjust padding as needed */
    margin: 4px; /* Spacing around elements */
    border-radius: 8px; /* Consistent with button border-radius */
}

.label-select-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
}

.label-slider-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
}


select {
    border: 1px solid #ccc; /* Subtle border, adjust as needed */
    background-color: #ffffff; /* Background, adjust for theme */
}

    select:focus {
        border-color: #646cff; /* Focus state, similar to button:hover */
        outline: none; /* Removes default focus outline */
    }

/* Adjust for dark mode as needed */
@media (prefers-color-scheme: light) {
    select, label {
        color: #213547;
        background-color: #ffffff;
    }

        select:hover {
            border-color: #747bff; /* Similar hover effect as links */
        }
}







html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make the container at least as tall as the viewport */
}

/* Button Panel */

.button-panel {
    display: flex;
    padding: 5px; /* Adjust based on your design */
    /*border: 2px solid #000000;*/
}

.button-panel button {
    margin: 5px;
}

/* Top Panel */

.top-panel {
    display: flex;
}

#nav_panel {
    justify-content: flex-start; /* Justify nav buttons to the left */
    flex-grow: 1;
}

#view_panel {
    justify-content: flex-end; /* Justify view buttons to the right */
    flex-grow: 1;
}

/* Middle Panel */

.middle-panel {
    display: flex;
    /*max-height: 80vh;*/
    height: 80vh;
}

.middle-left-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
}

.middle-right-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

#file_panel, #tool_panel {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    height: 50%;
    /*overflow-y: auto;*/
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent word wrapping in the container */
}

#file_content {
    flex-grow: 1;
    overflow-y: auto;
}

#file_content li {
    display: table-row;
}

#file_content li:before {
    content: none;
}

#file_content li:hover {
    cursor: pointer;
}

#file_content li div {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}


#vol_tools, #mip_tools, #t3d_tools {
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    /*padding: 10px;*/
    margin: 10px;
}


#table_header {
    display: table;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center; /* Center the content vertically */
    vertical-align: middle; /* Center the content vertically */
    /*height: 50px;*/
    flex-shrink: 0;
}

.header_cell {
    display: table-cell;
    padding: 5px;
    font-weight: bold;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#vol_content, #mip_content, #t3d_content {
    flex-grow: 1;
    margin-right: 10px;
    /*overflow-y: auto;*/ /* For scrolling */
}
#mark_panel {
    flex-grow: 0;
}


/* Bottom Panel */

.bottom-panel {
    display: flex;
    padding: 20px;
}

/*#info_panel {*/
    /*width: 100%;*/
    /*margin: 20px;*/
    /*margin-top: -10px;*/
/*}*/

